<div class="sidebar">
	<div class="sidebar-inner">
		<h1 class="blog-title">{{@blog.title}}</h1>
    	<h2 class="blog-description">{{@blog.description}}</h2>
    	<div class="sidebar-list">
    	    <ul>
    			{{#foreach navigation}}
					<a href="{{url absolute="true"}}" class="sidebar-text">
    					<li>{{label}}</li>
					</a>
    			{{/foreach}}
    	    </ul>
    	</div>
	</div>
</div>
