@font-face {
  font-family: 'Inconsolata Regular';
  src: url("../fonts/InconsolataRegular.woff2") format("woff2");
  src: url("../fonts/InconsolataRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

code, pre {

  font-family: "Inconsolata Regular", Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;

}

/* Better scrollbars for code segments */
pre::-webkit-scrollbar {

  width: 5px;
  height: 8px;
  background-color: inherit;
}

pre::-webkit-scrollbar-thumb {

  background-color: $heading;
}
