/* ==========================================================================
   6. Sidebar
   ========================================================================== */

.sidebar {

	display: flex;
	flex-direction: column;
	justify-content: center;
    background-color: $sidebar;
	height: 100%;
	min-width: 300px;
	position: relative;
	flex-grow: 1;
}

.sidebar-inner {

	margin: auto 0;
	padding: 8%;
	position: absolute;
	width: -webkit-fill-available;
}

.sidebar-list {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    height: max-content;
    /* max-width: 90%; */
    margin: 0 auto;
    height: max-content;
    color: $navbutton;
}

.sidebar-list > ul {

    display: flex;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    padding: 0;
    margin: 0;
	list-style: none;
	flex-wrap: wrap;
	flex-direction: column;
}

.icon {

    width: 64px;
    height: 64px;
    padding: 16px;
    font-size: 64px;
    color: $navbutton;
    fill: $navbutton;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;

}

.icon:hover {

    opacity: 0.6;
}

.sidebar-text {

	text-decoration: none;
	font-size: 4rem;
	color: $text;
	padding-bottom: 12px;
    -webkit-transition: color .25s;
    transition: color .25s;
}

.sidebar-text:hover {

	color: $sidebarlink;
}
